{% assign trans = site.data.values[site.lan] %}

{% if site.data.tops.size > 0 %}
<div class="sidebar well">
    <h1>{{ trans.top_posts }}</h1>
    <ul>
        {% for top in site.data.tops %}
            {% for post in site.posts %}
                {% if post.url contains top.url %}
                    <li><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </ul>
</div>
{% endif %}

<div class="sidebar well">
    <h1>{{ trans.recent_posts }}</h1>
    <ul>
        {% for post in site.posts limit:5 %}
          <li><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
</div>

<div class="sidebar well">
</div>